body
  margin: 0
  
.section
  display: flex
  justify-content: flex-start
  align-content: center

  .left
    width: 50%
    background-size: cover
    opacity: 1

    .texture
      width: 100%
      opacity: 0.1

  .right  
    display: flex
    width: 50%
    justify-content: center
    align-items: center

    .title
      font-weight: 800
      font-size: 2em
    
    .typography
      overflow: hidden
      

#scroll-wrapper
  width: 100vw
  overflow-y: hidden
  position: relative


.menu-open-button-box
  position: fixed
  top: 16px
  right: 32px
  width: 40px
  height: 40px
  padding: 8px
  border-radius: 32px
  display: flex
  justify-content: center
  align-items: center
  background-color: white
  cursor: pointer
  z-index: 10
  color: grey

.menu-close-button-box
  position: absolute
  top: 16px
  right: 16px
  width: 40px
  height: 40px
  padding: 16px
  margin: 16px
  border-radius: 8px
  display: flex
  justify-content: center
  align-items: center
  color: white
  cursor: pointer

.menubar
  position: fixed
  top: 0
  right: 0
  width: 100vw
  background-color: grey
  z-index: 20
  color: white
  display: flex
  justify-content: center
  align-items: center
  
  .logo
    height: 80px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer

  .menu-item-box
    max-width: 200px;

  .menu-item
    margin: 24px
    cursor: pointer
    overflow: hidden

.content
  position: absolute
  width: 100vw